{% extends "page.html" %}
{% if announcement_home is string %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}
<div class="main container">
  <div class="row">
    <div id="server-state" class="text-center">
      {% if default_server.active %}
        <h1>Your server is running.</h1>
        <svg class="svg-img" viewBox="0 0 200 200" width="200" height="200">
          <g>
            <g>
              <g>
                <path fill="#E6E6E6" d="M200,179.2c0-7.3-5.6-13.3-12.7-14c-0.9-13.8-12.3-24.7-26.4-24.7c-11.9,0-21.9,7.9-25.3,18.7
                  c-8.7,0.8-15.5,8.1-15.5,17c0,9.5,7.7,17.1,17.1,17.1c0,0,0.1,0,0.1,0v0H186v0C193.7,193.2,200,186.9,200,179.2z"/>
              </g>
            </g>
            <g>
              <g>
                <path fill="#969696" d="M134.1,193.1c0-3.6-2.7-6.6-6.2-6.9c-0.4-6.8-6.1-12.2-13-12.2c-5.9,0-10.8,3.9-12.4,9.2
                  c-4.3,0.4-7.6,4-7.6,8.4c0,4.7,3.8,8.4,8.4,8.4c0,0,0,0,0.1,0v0h23.9l0,0C131,200,134.1,196.9,134.1,193.1z"/>
              </g>
            </g>
            <g>
              <g>
                <path fill="#E6E6E6" d="M48.3,23.4c0-4.4-3.4-8.1-7.7-8.5C40.1,6.6,33.1,0,24.7,0C17.5,0,11.4,4.8,9.4,11.3
                  C4.1,11.8,0,16.2,0,21.6C0,27.3,4.6,32,10.4,32c0,0,0.1,0,0.1,0v0h29.3l0,0C44.5,32,48.3,28.1,48.3,23.4z"/>
              </g>
            </g>
          </g>
          <circle fill="#e51875" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" cx="100" cy="100" r="50"/>
          <g transform="matrix(0.866, -0.5, 0.25, 0.433, 100, 100)">
            <path d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#F8B20E">
              <animateTransform attributeName="transform" type="rotate" from="360 0 0" to="0 0 0" dur="2s" repeatCount="indefinite" />
            </path>
          </g>
          <path fill="#e51875" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M64.6,135.4c-19.5-19.5-19.5-51.2,0-70.7s51.2-19.5,70.7,0"/>
          <g>
            <g>
              <path fill="#E6E6E6" d="M125,22.9c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9
                l-2.7,2.7c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8
                c-0.4,0.2-0.8-0.1-0.8-0.6l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6
                L125,22.9z"/>
              <path fill="#E6E6E6" d="M125,22.9c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9
                l-2.7,2.7c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8
                c-0.4,0.2-0.8-0.1-0.8-0.6l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6
                L125,22.9z"/>
          </g>
          <g>
            <path fill="#E6E6E6" d="M20.7,150.3c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9
              l-2.7,2.7c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8
              c-0.4,0.2-0.8-0.1-0.8-0.6l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6
              L20.7,150.3z"/>
            <path fill="#E6E6E6" d="M20.7,150.3c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9
              l-2.7,2.7c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8
              c-0.4,0.2-0.8-0.1-0.8-0.6l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6
              L20.7,150.3z"/>
          </g>
          <g>
            <path fill="#E6E6E6" d="M189,7c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9l-2.7,2.7
              c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8c-0.4,0.2-0.8-0.1-0.8-0.6
              l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6L189,7z"/>
            <path fill="#E6E6E6" d="M189,7c0.2-0.4,0.7-0.4,0.9,0l1.7,3.4c0.1,0.3,0.4,0.5,0.8,0.6l3.8,0.5c0.4,0.1,0.6,0.6,0.3,0.9l-2.7,2.7
              c-0.2,0.2-0.3,0.6-0.3,0.9l0.6,3.7c0.1,0.4-0.4,0.8-0.8,0.6l-3.4-1.8c-0.3-0.2-0.6-0.2-0.9,0l-3.4,1.8c-0.4,0.2-0.8-0.1-0.8-0.6
              l0.6-3.7c0.1-0.3-0.1-0.7-0.3-0.9l-2.7-2.7c-0.3-0.3-0.1-0.8,0.3-0.9l3.8-0.5c0.3,0,0.6-0.3,0.8-0.6L189,7z"/>
          </g>
        </g>
        </svg>
      {% else %}
        <h1>Your server is offline.</h1>
        <p>You will need to relaunch your server on the BinderHub home page.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      {% if default_server.active %}
        <a id="stop" role="button" class="btn btn-lg btn-danger">
          <i class="fa fa-stop"></i> Stop My Server
        </a>
      {% endif %}
        {% if not default_server.active %}
          <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ binderhub_home }}">
            Return to Home
          </a>
        {% else %}
          <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ url }}">
            Go To My Server
          </a>
        {% endif %}
    </div>
  </div>
  {% if allow_named_servers %}
  <h2>
  Named Servers
  </h2>

  <p>
  In addition to your default server,
  you may have additional {% if named_server_limit_per_user > 0 %}{{ named_server_limit_per_user }} {% endif %}server(s) with names.
  This allows you to have more than one server running at the same time.
  </p>

  {% set named_spawners = user.all_spawners(include_default=False)|list %}

  <table class="server-table table table-striped">
    <thead>
      <tr>
        <th>Server name</th>
        <th>URL</th>
        <th>Last activity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="home-server-row add-server-row">
        <td colspan="4">
          <input class="new-server-name" placeholder="Name your server">
          <a role="button" class="new-server-btn" class="add-server btn btn-xs btn-primary">
            Add New Server
          </a>
        </td>
      </tr>
      {% for spawner in named_spawners %}
      <tr class="home-server-row" data-server-name="{{ spawner.name }}">
        {# name #}
        <td>{{ spawner.name }}</td>
        {# url #}
        <td>
          <a class="server-link {% if not spawner.ready %}hidden{% endif %}" href="{{ user.server_url(spawner.name) }}">
            {{ user.server_url(spawner.name) }}
          </a>
        </td>
        {# activity #}
        <td class='time-col'>
          {% if spawner.last_activity %}
          {{ spawner.last_activity.isoformat() + 'Z' }}
          {% else %}
          Never
          {% endif %}
        </td>
        {# actions #}
        <td>
          <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.active %} hidden{% endif %}" id="stop-{{ spawner.name }}">stop</a>
          <a role="button" class="start-server btn btn-xs btn-primary {% if spawner.active %} hidden{% endif %}" id="start-{{ spawner.name }}"
          href="{{ base_url }}spawn/{{ user.name }}/{{ spawner.name }}"
          >
            start
          </a>
          <a role="button" class="delete-server btn btn-xs btn-danger{% if spawner.active %} hidden{% endif %}" id="delete-{{ spawner.name }}">delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock main %}

{% block script %}
{{ super() }}
<script type="text/javascript">
  require(["home"]);
  require(["jquery"], function($) {
    var stopBtn = $("#stop")[0];
    var observer = new MutationObserver( function(mutations){
      mutations.forEach( function(mutation) {
        if(mutation.attributeName !== 'style') return;
        var currentValue = mutation.target.style.display;
        if(currentValue === "none") {
          $("#server-state").find("svg").hide();
          $("#server-state").find("h1").text("Your server is offline.");
          $("#server-state").append("<p>You will need to relaunch your server on the BinderHub home page.</p>");
          $("#start").attr("href", "{{ binderhub_home }}");
          $("#start").html("Return to Home");
        }
      });
    });
    observer.observe(stopBtn, { attributes: true });
  });
</script>
{% endblock %}
