/* Use ARDC Proxima Nova */
@import url("https://use.typekit.net/nlr0joz.css");

body {
  padding-top: 80px; /* needed when nav has .navbar-fixed-top class */
  font-family: proxima-nova, sans-serif;
  color: #000;
  background-color: #fcfcfc;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
  text-transform: none;
}

.display-5 {
  font-size: calc(1rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

a, .a-link {
  color: {{ info_color | default("#666666") }};
  text-decoration: underline;
  /*filter: brightness(0.95);*/
}

a.no-filter {
  filter: unset;
}

a:focus,
a:hover,
a:active,
.a-link:focus,
.a-link:hover,
.a-link:active {
  color: {{ info_color | default("#666666") }};
  filter: brightness(0.85);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, filter .15s ease-in-out;
  cursor:  pointer !important;
}

.btn {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-family: proxima-nova, sans-serif;
  letter-spacing: 1px;
  text-shadow:  none;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* padding: 0.375rem 0.75rem; */
  /* border-radius: 0.25rem; */
  border: none;
  background: none;
  box-shadow: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, filter .15s ease-in-out;
}

.bg-primary {
  background-color: {{ primary_color | default("#666666") }} !important;
}

.bg-secondary {
  background-color: {{ secondary_color | default("#666666") }} !important;
}

.bg-danger {
  background-color: {{ danger_color | default("#666666") }}) !important;
}

.bg-warning {
  background-color: {{ warning_color | default("#666666") }} !important;
}

.bg-info {
  background-color: {{ info_color | default("#666666") }} !important;
}

.bg-success {
  background-color: {{ success_color | default("#666666") }} !important;
}

.text-primary {
  color: {{ primary_color | default("#666666") }} !important;
}

.text-secondary {
  color: {{ secondary_color | default("#666666") }} !important;
}

.text-danger {
  color: {{ danger_color | default("#666666") }} !important;
}

.text-warning {
  color: {{ warning_color | default("#666666") }} !important;
}

.text-info {
  color: {{ info_color | default("#666666") }} !important;
}

.text-success {
  color: {{ success_color | default("#666666") }} !important;
}

.btn-link {
  text-decoration: none;
  color: {{ primary_color | default("#666666") }};
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, filter .15s ease-in-out;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: {{ primary_color | default("#666666") }};
  background:  none;
  filter: brightness(0.85);
}

.btn-jupyter:hover {
  color: #000; /* Override default theme styling */
}

.btn-primary {
  color: #000;
  background-color: {{ primary_color | default("#666666") }} !important;
  border-color: {{ primary_color | default("#666666") }} !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #000;
  background-color: {{ primary_color | default("#666666") }} !important;
  border-color: {{ primary_color | default("#666666") }} !important;
  filter: brightness(0.85);
}

.btn-secondary {
  color: #000;
  background-color: {{ secondary_color | default("#666666") }};
  border-color: {{ secondary_color | default("#666666") }};
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  color: #000;
  background-color: {{ secondary_color | default("#666666") }};
  border-color: {{ secondary_color | default("#666666") }};
  filter: brightness(0.85);
}

.btn-danger {
  color: #000;
  background-color: {{ danger_color | default("#666666") }};
  border-color: {{ danger_color | default("#666666") }};
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  color: #000;
  background-color: {{ danger_color | default("#666666") }};
  border-color: {{ danger_color | default("#666666") }};
  filter: brightness(0.85);
}

.btn-warning {
  color: #000;
  background-color: {{ warning_color | default("#666666") }};
  border-color: {{ warning_color | default("#666666") }};
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  color: #000;
  background-color: {{ warning_color | default("#666666") }};
  border-color: {{ warning_color | default("#666666") }};
  filter: brightness(0.85);
}

.btn-info {
  color: #000;
  background-color: {{ info_color | default("#666666") }};
  border-color: {{ info_color | default("#666666") }};
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #000;
  background-color: {{ info_color | default("#666666") }};
  border-color: {{ info_color | default("#666666") }};
  filter: brightness(0.85);
}

.btn-success {
  color: #000;
  background-color: {{ success_color | default("#666666") }};
  border-color: {{ success_color | default("#666666") }};
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #000;
  background-color: {{ success_color | default("#666666") }};
  border-color: {{ success_color | default("#666666") }};
  filter: brightness(0.85);
}

.alert-info {
    color: {{ info_color | default("#666666") }};
    background-color: #CCFFFF;
    border-color: #99FFFF;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
    background-image: none;
}

.navbar-inverse a {
    color: #fff;
    text-decoration: none;
}

.navbar #jupyterhub-logo a {
  font-size: 1.25em;
}

.navbar #nectar-symbol {
  display: none;
}

.navbar #jupyterhub-logo a img {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.navbar #login_widget .btn {
  border: 1px solid #fff;
}

.navbar-toggle {
  margin-top: 23px;
  margin-bottom: 23px;
}

.btn-jupyter {
  background-color: {{ primary_color | default("#666666") }} !important;
  border-color: {{ primary_color | default("#666666") }} !important;
}

#main {
  padding: 60px 0;
}

.svg-img {
  margin: 30px 0;
}

section.welcome {
  width:  100%;
  overflow: hidden;
}

#welcome-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

#welcome-bg {
  position:  relative;
  bottom:  0;
  z-index:  -1;
  margin-top:  -8vw;
  margin-bottom:  -1vw;
  margin-left:  -2vw;
  margin-right:  -2vw;
}

#welcome-bg #windows #github-window {
  opacity: 0;
  animation: fadeIn 0.5s linear 1s forwards;
}

#welcome-bg #windows #join1 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 0.5s linear 1.5s forwards;
}

#welcome-bg #windows #binder-window {
  opacity: 0;
  transform-origin: 50% 45%;
  animation: fadeIn 0.5s linear 2s forwards, scaleUp 0.5s ease-in-out 3.5s forwards;
}

#welcome-bg #windows #join2 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 0.5s linear 2.5s forwards;
}

#welcome-bg #windows #jupyter-window {
  opacity: 0;
  animation: fadeIn 0.5s linear 3s forwards;
}

#welcome-bg #users #users-large > g,
#welcome-bg #users #users-medium > g,
#welcome-bg #users #users-small > g {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0);
  animation: scaleIn 0.5s ease-in-out 4s forwards;
}

#welcome-bg #users #users-large > g:nth-child(1) { animation-delay: 4s; }
#welcome-bg #users #users-large > g:nth-child(2) { animation-delay: 4.1s; }
#welcome-bg #users #users-large > g:nth-child(3) { animation-delay: 4.2s; }
#welcome-bg #users #users-large > g:nth-child(4) { animation-delay: 4.3s; }
#welcome-bg #users #users-large > g:nth-child(5) { animation-delay: 4.4s; }

#welcome-bg #users #users-medium > g > g:nth-child(1) { animation-delay: 4.5s; }
#welcome-bg #users #users-medium > g > g:nth-child(2) { animation-delay: 4.6s; }
#welcome-bg #users #users-medium > g > g:nth-child(3) { animation-delay: 4.7s; }
#welcome-bg #users #users-medium > g > g:nth-child(4) { animation-delay: 4.8s; }
#welcome-bg #users #users-medium > g > g:nth-child(5) { animation-delay: 4.9s; }
#welcome-bg #users #users-medium > g > g:nth-child(6) { animation-delay: 5s; }
#welcome-bg #users #users-medium > g > g:nth-child(7) { animation-delay: 5.1s; }

#welcome-bg #users #users-small > g:nth-child(1) { animation-delay: 5.2s; }
#welcome-bg #users #users-small > g:nth-child(2) { animation-delay: 5.3s; }

#welcome-bg #user-lines line,
#welcome-bg #user-lines polyline,
#welcome-bg #user-lines polygon {
  opacity: 0;
  stroke-dasharray: 12 14;
  stroke-dashoffset: 4;
  animation: fadeIn 0.2s linear 5.5s forwards, drawDashed 30s linear 5.5s infinite;
}

#welcome-bg #code > g {
  opacity: 0;
  animation: fadeIn 0.5s linear 6s forwards;
}

#welcome-bg #code > g:nth-child(1) { animation-delay: 6s }
#welcome-bg #code > g:nth-child(2) { animation-delay: 6.2s }
#welcome-bg #code > g:nth-child(3) { animation-delay: 6.4s }
#welcome-bg #code > g:nth-child(4) { animation-delay: 6.6s }
#welcome-bg #code > g:nth-child(5) { animation-delay: 6.8s }
#welcome-bg #code > g:nth-child(6) { animation-delay: 7s }
#welcome-bg #code > g:nth-child(7) { animation-delay: 7.2s }

#clouds path:nth-child(1),
#clouds path:nth-child(3),
#clouds path:nth-child(5) {
  transform: translateX(-30%);
  animation: moveClouds 61s linear infinite;
}

#clouds path:nth-child(2),
#clouds path:nth-child(4),
#clouds path:nth-child(6) {
  transform: translateX(-70%);
  animation: moveClouds 61s linear infinite;
}

/* #welcome-bg #users > g:nth-child(1) { animation-delay: 0.5s }
#welcome-bg #users > g:nth-child(2) { animation-delay: 1s }
#welcome-bg #users > g:nth-child(3) { animation-delay: 1.5s }
#welcome-bg #users > g:nth-child(4) { animation-delay: 2s }
#welcome-bg #users > g:nth-child(5) { animation-delay: 2.5s }
#welcome-bg #users > g:nth-child(6) { animation-delay: 3s }
#welcome-bg #users > g:nth-child(7) { animation-delay: 3.5s } */

#login-main {
  height: auto;
}

.worker-loader {
  background-image: url("/hub/custom/images/bee-loader.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 120px;
  height: 120px;
  animation: spinLoader 4s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@include media-breakpoint-down(sm) {
  .worker-loader {
    width: 90px;
    height: 90px;
  }
}

.progress-bar {
  background-color: {{ warning_color | default("#969696") }};
}

#kubespawner-profiles-list .profile {
  display: flex;
  align-items: center;
}

.radio {
  display: flex;
  align-items: center;
}

#spawn_form label {
  cursor: pointer;
}

label div.radio::after {
  content: '';
  background-image: url('/hub/custom/images/environment-default.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 5px;
}

label[for=profile-item-standard-environment] div.radio::after {
  background-image: url('/hub/custom/images/environment-standard.svg');
}

label[for=profile-item-datascience-environment] div.radio::after {
  background-image: url('/hub/custom/images/environment-datascience.svg');
}

label[for=profile-item-scipy-environment] div.radio::after {
  background-image: url('/hub/custom/images/environment-scipy.svg');
}

label[for=profile-item-r-environment] div.radio::after {
  background-image: url('/hub/custom/images/environment-r.svg');
}

.footer {
  background: #000;
  color: white;
  padding: 30px 0;
  width: 100%;
  border: none;
  margin-top: 0;
}

.footer h4 {
  color: white;
  text-transform:  uppercase;
  margin-top: 0;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}

.footer h4:after {
  content: "";
  background: #fff;
  height: 2px;
  display: block;
  margin-top: 10px;
  max-width: 50px;
}
.row.footer-about {
  margin-bottom: 15px;
}
.footer .footer-text a {
  color: #F8B20E;
}
.footer-logos {
  display: table;
  vertical-align: bottom;
}
.footer-logos .footer-logo-ardc {
  display: table-cell;
  width: 60%;
  padding: 5px;
}
.footer-logos .footer-logo-ncris {
  display: table-cell;
  width: 40%;
  padding: 5px;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
}
.footer a {
  margin: 0;
}

@media (min-width: 480px) {
  .navbar-nav {
    margin: 20px 0;
  }
}

@media (min-width: 720px) {
  .row.footer-about {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
  }
  .row.footer-text {
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    position: relative;
  }
  .navbar-text {
    display: none;
  }
}

@media (max-width: 1199px) {
  .navbar #nectar-logo {
    display: none;
  }
  .navbar #nectar-symbol {
    display: inline;
  }
}

@media (max-width: 45em) {
  .footer-links {
    text-align:  unset;
  }
  /* .footer a,
  .footer a:hover {
    box-shadow: unset;
    border-radius: unset;
    background: unset;
    padding: unset;
    line-height: inherit;
    display: unset;
    margin: 0;
  }
  */
}

.paused {
  animation-play-state: paused !important;
}

@keyframes draw {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawDashed {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(1); }
  to   { transform: scale(1.5); }
}

@keyframes scaleIn {
  0% { transform: scale(0);}
  50% { transform: scale(1.2);}
	100% { transform: scale(1); }
}

@keyframes moveClouds {
	to { transform: translateX(0); }
}

@keyframes spinLoader {
  to {
      transform:rotate(360deg);
  }
}
